<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
</head>

<body>


    <table style="width: 100%;">
        <tr>
            <th>Person</th>
            <th>Cost</th>
            <th>Item</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        <% dat.data.forEach(function(dat) { %>
            <tr>
                <td>
                    <%= dat.person %>
                </td>
                <td>
                    <%= dat.cost%>
                </td>
                <td>
                    <%= dat.item%>
                </td>
                <td>
                    <%= dat.date%>
                </td>
                <td>
                    <%= dat.time%>
                </td>
            </tr>
            <% }); %>

    </table>
    <br><br><br>
    <! Copy Below Line and replace _Name with real name to add Person>
    <p>_Name : <%= dat._Name.sum %></p>
    
    <! paste just below here >
    
    <p>Total : <%= dat.tdata.sum %></p>
</body>

</html>
